<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Edit event</title>
</head>
<body>
<header th:replace="layout :: site-header" />
<main id="edit-event">
    <form class="edit-event" method="post" th:object="${editEventForm}">

        <label for="title">Event title:</label>
        <div><textarea id="title" rows="2" cols="60" name="title" th:field="*{title}" ></textarea>
            <span class="formError" th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}">Invalid title</span>
        </div>

        <label for="description">Description of the event:</label>
        <div><textarea id="description" rows="20" cols="60" name="description" th:field="*{description}" ></textarea>
            <span class="formError" th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}">Invalid description</span>
        </div>

        <label for="date">Date of the event:</label>
        <div><input id="date" type="date" name="date" th:value="${#dates.format(editEventForm.date, 'yyyy-MM-dd')}" />
            <span class="formError" th:if="${#fields.hasErrors('date')}"
                  th:errors="*{#dates.format(date, 'yyyy-MM-dd')}">Invalid date</span>
        </div>

        <label for="location">Location:</label>
        <div><input id="location" type="text" name="location" th:value="*{location}" />
            <span class="formError" th:if="${#fields.hasErrors('location')}"
                  th:errors="*{location}">Invalid location</span>
        </div><br/>

        <div th:if="${#httpSession.getAttribute('loggedUser').role == 'ROLE_ADMIN'}">
            <label for="username">Author:</label>
            <select id="username" th:field="*{username}">
                <option th:each="u : ${usernames}" th:value="${u}"
                        th:text="${u}">Authors</option>
            </select>
        </div><br/>

        <div><input type="submit" id="edit" value="Save"/>
            <a href="index.html" th:href="@{/events}">[Cancel]</a>
        </div>

    </form>
</main>
<footer th:replace="layout :: site-footer" />
</body>
</html>