<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Events</title>
</head>
<body>
    <header th:replace="layout :: site-header" />
    <main id="events">
            <h3>Upcoming events</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th th:if="${#httpSession.getAttribute('loggedUser') != null}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${allUpcomingEvents}">
                    <td><span th:text="${e.title}">Title</span></td>
                    <td>
                        <a href="#" th:href="@{/events/view/{id}/(id=${e.id})}"
                           th:text="${#strings.length(e.description) > 150} ?
                            ${#strings.substring(e.description, 0, 150) + '...'} :
                            ${e.description}">Description</a>
                    </td>
                    <td><span th:text="${#dates.format(e.date, 'dd-MMM-yyyy')}">22-May-2016</span></td>
                    <td><span th:text="${e.location}"></span></td>
                    <td th:if="${#httpSession.getAttribute('loggedUser') != null}">
                        <div th:if="${#httpSession.getAttribute('loggedUser').id == e.author.id} or ${#httpSession.getAttribute('loggedUser').role == 'ROLE_ADMIN'}">
                            <a href="#" th:href="@{/events/delete/{id}/(id=${e.id})}">[Delete]</a>
                            <a href="#" th:href="@{/events/edit/{id}/(id=${e.id})}">[Edit]</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3>Past events</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th th:if="${#httpSession.getAttribute('loggedUser') != null}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${allPastEvents}">
                    <td><span th:text="${e.title}">Title</span></td>
                    <td>
                        <a href="#" th:href="@{/events/view/{id}/(id=${e.id})}"
                           th:text="${#strings.length(e.description) > 150} ?
                            ${#strings.substring(e.description, 0, 150) + '...'} :
                            ${e.description}">Description</a>
                    </td>
                    <td><span th:text="${#dates.format(e.date, 'dd-MMM-yyyy')}">22-May-2016</span></td>
                    <td><span th:text="${e.location}"></span></td>
                    <td th:if="${#httpSession.getAttribute('loggedUser') != null}">
                        <div th:if="${#httpSession.getAttribute('loggedUser').id == e.author.id} or ${#httpSession.getAttribute('loggedUser').role == 'ROLE_ADMIN'}">
                            <a href="#" th:href="@{/events/delete/{id}/(id=${e.id})}">[Delete]</a>
                            <a href="#" th:href="@{/events/edit/{id}/(id=${e.id})}">[Edit]</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
    </main>
    <footer th:replace="layout :: site-footer" />
</body>
</html>