.navbar {
    font-size: 17px;
    align-content: center;
    border-radius: 0;
}

.navbar-nav li a:hover {
    color: #A9A9A9;
}

.navbar-nav li.active a{
    background: #A9A9A9 ;
}

.navbar-left {
    margin-left: 10px;
}

body>main {
    padding: 0 15px;
}

body>main h2 {
    padding: 5px 5px 5px 10px;
    background: #F3F3F3;
}

body>main>aside {
    float: right;
    width: 220px;
    background: #F3F3F3;
    padding: 0 15px;
    margin-left: 20px;
}

body>main>aside a {
    display: block;
    margin: 5px 0;
}

.form-center {
    text-align: center;
    margin: 0 auto;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #c4ee7e;
    color: #1c6432;
}

ul#messages li.error {
    background: rgba(255, 0, 0, 0.52);
    color: white;
}

.formError {
    color: rgba(255, 0, 0, 0.52);
    font-style: italic;
    font-size: 0.9em;
}

body>footer {
    background: #F3F3F3;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}