<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Events</title>
</head>

<body>
    <header th:replace="layout :: site-header" />
    <aside>
        <h2>Upcoming Events</h2>
        <a href="#" th:each="e : ${upcoming5events}" th:text="${e.title}"
           th:href="@{/events/view/{id}/(id=${e.id})}">Event title</a>
    </aside>

    <main id="events">
        <h2>Upcoming events</h2>
        <article th:each="e : ${upcoming3events}">
            <h3 class="title" th:text="${e.title}">Event Title</h3>
            <div class="date">
                <i>Date of event:</i>
                <span th:text="${#dates.format(e.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            </div>
            <div class="location">
                <i>Location:</i>
                <span th:text="${e.location}">Event location</span>
            </div>
            <p class="content" th:utext="${e.description}">Event description</p>
        </article>

        <h2>Past events</h2>
        <article th:each="e : ${past3events}">
            <h3 class="title" th:text="${e.title}">Event Title</h3>
            <div class="date">
                <i>Date of event:</i>
                <span th:text="${#dates.format(e.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            </div>
            <div class="location">
                <i>Location:</i>
                <span th:text="${e.location}">Event location</span>
            </div>
            <p class="content" th:utext="${e.description}">Event description</p>
        </article>
    </main>

    <footer th:replace="layout :: site-footer" />
</body>

</html>

